{% extends "master.html" %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Parties
                <small>Your parties</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <h2>Hosting</h2>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                {% for party in event_list %}
                <tr>
                    <td><a href="../parties/{{party.id}}">{{party.name}}</a></td>
                    <td>{{party.date_time}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><a href="#">The Best Party Ever</a></td>
                    <td>March 10, 2015</td>
                </tr>
                <tr>
                    <td><a href="#">The Second Best Party Ever</a></td>
                    <td>March 12, 2015</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Attending</h2>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td><a href="#">Party 1</a></td>
                    <td>March 10, 2015</td>
                </tr>
                <tr>
                    <td><a href="#">Party 2</a></td>
                    <td>March 11, 2015</td>
                </tr>
                <tr>
                    <td><a href="#">Party 3</a></td>
                    <td>March 12, 2015</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}
